<h2 class="mat-h1">Find Trains</h2>


<form class="search-container">      
    
     <mat-form-field [floatLabel]="'always'">
        <mat-label>Origin Location</mat-label>
        <input type="text"
               placeholder="Pick one"
               [formControl]="formGroup.controls.originLocation"
               matInput>
    </mat-form-field>

    <mat-form-field [floatLabel]="'always'">
        <mat-label>Destination Location</mat-label>
        <input type="text"
               placeholder="Pick one"
               [formControl]="formGroup.controls.destinationLocation"
               matInput>
    </mat-form-field> 

    <!--<mat-form-field [floatLabel]="'always'">
      <mat-label>Departure date</mat-label>
      <input name="departure-date" matInput [matDatepicker]="picker"  placeholder="MM/DD/YYYY">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

  <button mat-flat-button color="primary" aria-label="Search Trains" (click)="onSearch()">
  <mat-icon>search</mat-icon>
  <span>Search</span>
  </button>
</form>

