@dapi:registry=https://pkgs.dev.azure.com/AmadeusDigitalAirline/DES-SDKs/_packaging/des-sdks/npm/registry/
@amadeus:registry=https://pkgs.dev.azure.com/AmadeusDigitalAirline/DES-SDKs/_packaging/sustainability-hackathon/npm/registry/

//pkgs.dev.azure.com/AmadeusDigitalAirline/DES-SDKs/_packaging/des-sdks/npm/registry/:username=hackathon-des-sdk-reader
//pkgs.dev.azure.com/AmadeusDigitalAirline/DES-SDKs/_packaging/des-sdks/npm/registry/:_password=N3cyNmJxb2Q3Z215ZGU1b3ptN3NqdHVjbnA1bWFmdm54b2xtb2tmYWFrMm10czVxaXdlYQ==
//pkgs.dev.azure.com/AmadeusDigitalAirline/DES-SDKs/_packaging/des-sdks/npm/registry/:email=hackathon-des-sdk-reader@outlook.com

//pkgs.dev.azure.com/AmadeusDigitalAirline/DES-SDKs/_packaging/sustainability-hackathon/npm/registry/:username=hackathon-des-sdk-reader
//pkgs.dev.azure.com/AmadeusDigitalAirline/DES-SDKs/_packaging/sustainability-hackathon/npm/registry/:_password=N3cyNmJxb2Q3Z215ZGU1b3ptN3NqdHVjbnA1bWFmdm54b2xtb2tmYWFrMm10czVxaXdlYQ==
//pkgs.dev.azure.com/AmadeusDigitalAirline/DES-SDKs/_packaging/sustainability-hackathon/npm/registry/:email=hackathon-des-sdk-reader@outlook.com

always-auth=true
package-lock=true
