<div class="home-title">
  <h2 class="mat-h1">Welcome to your destination recommender</h2>
</div>
<div class="home-container mat-body-1">
  <h2 class="mat-h2">Welcome to the Amadeus Starter Kit</h2>
  <p>You can use this app to familiarise yourself with Angular and Amadeus APIs or as a starter kit for the Hackathon challenge.</p>

  <b>GreenScore</b>
  <p>In this app, we invite customers to choose flights depending on Green Miles as Reward.</p>

  <b>Bring Your ideas</b>
  <p>Feel free to experiment with your own idea using the Amadeus Self Service API or other third parties.</p>
  <p>You can also use data displayed sourced from the <strong>SDG Index and Dashboards Cities Report</strong>
    (https://euro-cities.sdgindex.org/#/). The report was prepared by the
    Sustainable Development Solutions Network and the Brabant Center for Sustainable Development. </p>

  <div class="action">
    <button [routerLink]="'/inspire'" mat-flat-button color="primary">Let's travel greener</button>
  </div>
</div>
