<div class="home-title">
  <h2 class="mat-h1">Welcome to your destination recommender</h2>
</div>
<div class="home-container mat-body-1">
  <h2 class="mat-h2">Make your travel choice knowing the current water level of your destination choice</h2>
  <p>Earn green miles by choosing a destination that will be the least impacted by the traveller</p>

  <div class="action">
    <button [routerLink]="'/inspire'" mat-flat-button color="primary">Let's travel greener</button>
  </div>
  <div>
    <h2 class="mat-h2">Key messages</h2>
    <b>GreenScore</b>
    <p>The data displayed in this dashboard is sourced from the <strong>SDG Index and Dashboards Cities Report</strong>
      (https://euro-cities.sdgindex.org/#/). The report was prepared by the
      Sustainable Development Solutions Network and the Brabant Center for Sustainable Development. </p>
    <b>Drought</b>
    <p> Drought is a prolonged dry period in the natural climate cycle that can occur anywhere in
      the world. It is a slow on-set phenomenon caused by a lack of rainfall. Compounding factors, such as poverty and
      inappropriate land use, increase vulnerability to drought.</p>
    <p>When drought causes water and food shortages, there can be many impacts on the health of
      the population, which may increase morbidity and result in death.</p>
    <p>In the last two decades alone, the United Nations estimates drought has affected 1.5
      billion people and led to economic losses of at least $124 billion. Water conservation has never been more
      crucial. </p>
  </div>
</div>
