app-search {
  display: block;
  margin: 0 auto;
  background-size: contain;
  background: url(../../../assets/pexels-andrea-piacquadio-3769138.jpg) no-repeat center;
  background-size: cover;
  padding: 0 0 2rem;
}

app-flight-list {
  display: block;
}
